.Footer {
    position: relative;
    top: auto;
    bottom: 0px;
    left: 0;
    height: 187px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-transform: none;
    margin-top: 50px;
}